{% block style %}
    <style>
        @media screen and (max-width: 1360px) {
            #home{
                height: calc(100dvh - 55px);
            }
        }

        #home {
            height: 100dvh;
            background-color: rgb(var(--color-primary-darker));
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .col {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        div h1 {
            color: rgb(var(--color-primary-lighter));
            text-shadow: 2px 5px 4px black 25%;
        }

        .image-holder{
            position: relative;
            top: 0;
            left: 0;
        }

        .image-holder img:nth-child(1){
            position: relative;
            top: 0;
            left: 0;
        }

        .image-holder img:nth-child(2){
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -62%)
        }

        .name-col {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .name-col h1 {
            margin: 0;
            padding: 0;
        }

        @media screen and (max-width: 520px){
            .image-holder {
                width: 200px;
                margin: 0;
            }

            .image-holder img:nth-child(1){
                width: 200px;
                height: auto;
            }

            .image-holder img:nth-child(2){
                width: 100px;
                height: auto;
            }

            .name-col h1{
                font-size: 48px;
            }
        }
    </style>
{% endblock %}

{% block body %}
    <section id="home" class="home">
        <div class="col">
            <div class="name-col">
                <h1>Filip</h1>
                <h1>Szymanski</h1>
            </div>
            
            <div class="image-holder">
                <img src="svg/blob.svg" alt="">
                <img src="svg/peep.svg" alt="">
            </div>

        </div>
    </section>
{% endblock %}
