{% block style %}
    <style>
        @media screen and (max-width: 1020px) {

        }
        @media screen and (max-width: 1360px) {
            #home{
                height: calc(100dvh - 55px);
            }
        }

        #home {
            height: 100dvh;
            background-color: rgb(var(--color-primary-darker));
        }
    </style>
{% endblock %}

{% block body %}
    <section id="home" class="home">
        
    </section>
{% endblock %}
