{% block javascripts %}
    {{ block('javascripts', 'components/form/form.html.twig') }}
{% endblock %}

{#}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('contact_form.css') }}">
{% endblock %}
#}

{% block style %}

<style>
.contact {
    background-color: rgb(var(--color-primary-dark));
    position: relative;
    font-family: 'Lexend', sans-serif;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-bottom: 64px;
}

.form-group {
    position: relative;
}

.form-group label{
    text-transform: uppercase;
    color: rgb(var(--color-primary-lighter));
    background-color: rgb(var(--color-primary-dark));
    position: absolute;
    top: -12px;
    left: 10px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 1.2rem;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
}
.form-group input {
    padding: 16px;
    width: 620px;
    background-color: rgb(var(--color-primary-dark));
    color: rgb(var(--color-primary-normal));
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid white;
    border-radius: 5px;
}
.form-group:nth-child(3) {
    margin-bottom: 48px;
}

.form-group input:focus{
    outline: none;
}

.form-group textarea {
    padding: 16px;
    width: 620px;
    resize: vertical;
    background-color: rgb(var(--color-primary-dark));
    color: rgb(var(--color-primary-normal));
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    border: 2px solid white;
    border-radius: 5px;
    font-family: 'Lexend', sans-serif;
}

.form-group:nth-child(5){
    width: 100%;
}

.btn {
    background-color: rgb(var(--color-navbar-blue));
    color: rgb(var(--color-primary-lighter));
    font-weight: bold;
    border-radius: 5px;
    width: 320px;
    height: 62px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem;
    transition: 0.1s linear;
}

.btn:hover{
    box-shadow: 4px 4px 4px 2px rgb(0, 0, 0, 0.25);
}

</style>
{{ block('style', 'components/form/form.html.twig') }}
{% endblock %}


{% block body %}
<section id="contact" class="contact">
    <h1>Kontakt</h1>

    {% form_theme form 'form/contact_form.html.twig' %}
        {{ form(form) }}
    {% include 'components/flash_message.html.twig' with {'id': 'contact'} %}
</section>
{% endblock %}