{% block style %}
    <style>
        @media screen and (max-width: 1020px) {

        }

        @media screen and (max-width: 650px){
        }
    </style>
{% endblock %}

{% block body %}
    {% set hobbies = [
        {'headline': 'Programmieren',
        'content': 'In der Schule, sowie auch in meiner Freizeit, bereitet mir das Programmieren mit hauptsächlich Java und den Spring Framework und verschiedenen web Technologien. ',
        'icon': ''},
        {'headline': 'Sprachen',
        'content': 'Außerhalb der Programmierung und der Schule lerne ich auch gerne Fremdsprachen. Zurzeit bin ich kommunikativ in drei Sprachen in Wort und Schrift.',
        'icon': ''},
        {'headline': 'Krafttraining',
        'content': 'In der Freizeit trainiere ich gerne alleine oder mit meinen Freunden. ',
        'icon': ''},

    ] %}

    <section id="hobby" class="hobby">
        <div class="hobby-element">
            <span class="hobby-cards">
                {% for item in hobbies %}
                    {% include 'components/card.html.twig' with item %}
                {% endfor %}
            </span>
        </div>
    </section>
{% endblock %}
