{% block style %}
    <style>
        @media screen and (max-width: 980px) {
            .hobby-cards {
                flex-wrap: wrap;
            }

            .hobby-cards:nth-child(3){
                margin-top: 40px;
            }
        }

        @media screen and (max-width: 500px){
            .hobby h1 {
                font-size: 56px;
            }
        }

        #hobby {
            background-image: url("img/frantisek.jpg");
            background-size: cover;
        }

        h1 {
            color: rgb(var(--color-primary-lighter));
            text-align: center;
            padding-top: 96px;
            text-shadow: 2px 2px 10px black 0.4;
        }

        .hobby-cards {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 40px;
            padding-bottom: 96px;
        }

    </style>
{% endblock %}

{% block body %}
    {% set hobbies = [
        {'headline': 'Programmieren',
        'content': 'In der Schule, sowie auch in meiner Freizeit, bereitet mir das Programmieren mit hauptsächlich Java und den Spring Framework und verschiedenen web Technologien. ',
        'icon': 'svg/programmieren.svg',
        'index': 0},
        {'headline': 'Sprachen',
        'content': 'Außerhalb der Programmierung und der Schule lerne ich auch gerne Fremdsprachen. Zurzeit bin ich kommunikativ in drei Sprachen in Wort und Schrift.',
        'icon': 'svg/sprachen.svg',
        'index': 1},
        {'headline': 'Krafttraining',
        'content': 'In der Freizeit trainiere ich gerne alleine oder mit meinen Freunden. ',
        'icon': 'svg/training.svg',
        'index': 2},

    ] %}

    <section id="hobby" class="hobby">

        <h1>Interessen</h1>

        <div class="hobby-element">
            <span class="hobby-cards">
                {% for item in hobbies %}
                    {% include 'components/card.html.twig' with item %}
                {% endfor %}
            </span>
        </div>
    </section>
{% endblock %}
