{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .experience {
            background-color: rgb(var(--color-primary-darker));
        }

        .experience h1 {
            margin-bottom: 96px;
        }

        .experience-element {
            padding-bottom: 96px;
            display: flex;
            flex-direction: column;
            gap: 65px;
        }

        .line {
            width: calc(100vw - 30vw);
            height: 0.1rem;
            background-color: rgb(80, 79, 79);
        }

        .centerer {
            display: none;
            margin-left: auto;
            margin-right: auto;
        }

        @media screen and (max-width: 520px){
            .experience h1 {
                font-size: 36px;
            }
        }

        @media screen and (max-width: 680px){
            .centerer {
                display: block;
            }
        }
    </style>
{% endblock %}
{% block body %}

        {% set experiences = [
            {
                'img': 'img/image3.jpg',
                'headline': 'Praktikum - Webentwicklung',
                'content': 'In 2023 habe ich ein 3-wöchiges Praktikum im Bereich der web Entwicklung abgeschlossen. In der Zeit habe ich Erfahrung in UI/UX Design und in der Webetwicklung in den Symfony Framework gesammelt.',
                'link': 'fldafljka',
                'linkText': 'zur Webseite von HDNET'
            },
            {
                'img': 'img/image4.jpg',
                'headline': 'Videobearbeitung - Freiberuflich',
                'content': 'In zwei Jahren habe ich Freiberuflich videos und thumbnails für content creator aus fünf Ländern mit dem following von ein paar hundert bis zu um die 300.000 erstellt.',
                'linkText': 'fdlkadflka'
            },
            {
                'img': 'img/image2.jpg',
                'headline': 'Praktikum - Software Entwicklung',
                'content': 'In 2019 habe ich ein 3-wöchiges Praktikum absolviert wo ich die Programmierung von Systemem, die mit Sensoren und Motoren funktionieren, kennengelernt habe.',
                'linkText': 'fdlkadflka'
            },
            {
                'img': 'img/image1.jpg',
                'headline': 'Softwareprojekt',
                'content': 'Seit mitte 2023 arbeite ich an einer Webseite die es ermöglicht zukünftigen professionelen Spielern Turniere, Komentatoren, Trainer und Mitspieler zu suchen.  ',
                'link': 'fldafljka',
                'linkText': 'zur Webseite von Esportpanel'
            },
        ] %}
    <section id="experience" class="experience">

        <h1>Erfahrungen</h1>

        {% set sides = ['left', 'right']%}    

        <div class="experience-element">
            {% for item in experiences %}
                {% if loop.index0 != 0 %}
                    <div class="centerer">
                        <div class="line"></div>
                    </div>
                {% endif %}
                {% include 'components/experience/experience-content.html.twig' with {'index': loop.index0}%}
            {% endfor %}</div>
    </section>
{% endblock %}
