{% block style %}
    <style>
       
    </style>
    
{% endblock %}

{% block body %}
    <h1>HELOoooooo</h1>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('load', () => {})
    </script>
{% endblock %}
