{% block style %}
    <style>
       #knowledge {
            background-color: rgb(var(--color-primary-darker));
       }

       .knowledge h1 {
            padding-bottom: 96px;
       }

       .experties-columns {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            gap: 78px;
       }
       h2 {
            text-align: center;
            color: #F5F5F5;
            font-weight: 400;
            padding: 0;
            margin: 0;
       }

       h2:nth-child(3) {
            margin-top: 40px;
            margin-bottom: 16px;
       }

       .text-circle {
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            box-shadow: 0 10px 10px rgb(var(--color-primary-darker));
       }

       .text-circle h2 {
            z-index: 2;
            background-color: rgb(var(--color-primary-darker));
            padding-bottom: 10px;
       }

       .circle {
            height: 40px;
            width: 40px;
            margin-bottom: 10px;
            border-radius: 50%;
            background-color: rgb(var(--color-navbar-blue));
            margin-left: 8px;
            transform-origin: 50%, 50%;
            background-image: url("svg/arrow.svg");
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: center;
            transition: 0.3s;
       }

       .circle:hover{
            cursor: pointer;
       }

       .circle-rotated {
            transform: rotate(90deg);
       }

       .column {
            width: 300px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            overflow: hidden;
       }
       
       .movable {
            top: -450px;
            position: relative;
            overflow: hidden;
            transition: 0.5s ease-in-out;
       }

       .experties-row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 32px;
            padding-bottom: 96px;
       }

       .moved {
            transform: translateY(450px);
       }

       .img {
            height: 100px;
            width: 100px;
       }

       @media screen and (max-width: 1150px){
          .text-circle h2{
               font-size: 20px;
          }
       }

       @media screen and (max-width: 750px){
          .experties-columns {
               justify-content: space-between;
               gap: 2px;
          }
       }

       @media screen and (max-width: 420px){
          .experties-row img {
               height: 64px;
               width: 64px;
          }

          .text-circle h2 {
               font-size: 14px;
          }

          .text-circle {
               flex-direction: column;
          }
       }
    </style>
{% endblock %}

{% block body %}

    {# first three are ment to be used as the cols and the last one as the bottom row#}
    {% set skills = [
        [{'img': 'svg/tech/Java-Light.svg'},{'img': 'svg/tech/JavaScript.svg'},{'img': 'svg/tech/TypeScript.svg'}],
        [{'img': 'svg/tech/Spring-Light.svg'},{'img': 'svg/tech/NextJS-Light.svg'},{'img': 'svg/tech/NestJS-Light.svg'}],
        [{'img': 'svg/tech/MySQL-Light.svg'},{'img': 'svg/tech/PostgreSQL-Light.svg'},{'img': 'svg/tech/MongoDB.svg'}],
        [{'img': 'svg/tech/Docker.svg'},{'img': 'svg/tech/Linux-Light.svg'},{'img': 'svg/tech/Bash-Light.svg'}],
    ]%}

    <section id="knowledge" class="knowledge">
       <h1>Kenntnisse</h1>

       <section class="experties-columns">
            <div class="column">
                <div class="text-circle">
                    <h2>Sprachen</h2>
                    <div class="circle" id="circle-1"></div>
                </div>

                <section id="column-1" class="movable">
                    {% include 'components/expertise/expertise-column.twig' with {skills: skills[0]} %}
                </section>
            </div>
            
            <div class="column">
                <div class="text-circle">
                    <h2>Frameworks</h2>
                    <div class="circle" id="circle-2"></div>
                </div>

                <section id="column-2" class="movable">
                    {% include 'components/expertise/expertise-column.twig' with {skills: skills[1]} %}
                </section>
            </div>

            <div class="column">
                <div class="text-circle">
                    <h2>Datenbanken</h2>
                    <div class="circle" id="circle-3"></div>
                </div>

                <section id="column-3" class="movable">
                    {% include 'components/expertise/expertise-column.twig' with {skills: skills[2]} %}
                </section>
            </div>
       </section>

       <h2>Sonstiges</h2>
       <section class="experties-row">
            {% for item in skills[3] %}
                <img src="{{asset(item.img)}}" class="img">
            {% endfor %}
       </section>
    </section>
{% endblock %}

{% block javascripts %}
<script>
window.addEventListener('load', () => {
    circle1 = document.getElementById("circle-1");
    circle2 = document.getElementById("circle-2");
    circle3 = document.getElementById("circle-3");

    column1 = document.getElementById("column-1");
    column2 = document.getElementById("column-2");
    column3 = document.getElementById("column-3");

    let circles = [circle1, circle2, circle3]
    let columns = [column1, column2, column3]
    for(let i = 0; i < circles.length; i++){
        circles[i].addEventListener('click', () => {
            circles[i].classList.toggle('circle-rotated');
            columns[i].classList.toggle('moved');
        })
    }
})
</script>
{% endblock %}
