{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .card {
            width: 320px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-content">
            {% if item.icon is defined %}
                <div class="card-content--icon">
                    <img src="{{ asset(item.icon) }}" width="60px">
                </div>
            {% endif %}
            <h3>{{ item.headline }} </h3>
            <p class="light color-primary-normal"> {{ item.content }}</p>
        </div>
    </div>
{% endblock %}
