{% block javascripts %}
    <script>

    </script>
{% endblock %}
{% block style %}
    <style>
        .card {
            width: 320px;
            height: 440px;
            background-color: rgb(var(--color-primary-dark));
            box-shadow: 0px 0px 10px 6px rgb(0, 0, 0, 0.25);
        }

        .card {
            padding: 32px;
            border-radius: 5px;
        }

        .card img {
            width: 64px;
        }

        .card h3 {
            margin-top: 32px;
        }

        .card p {
            margin-top: 20px;
            font-weight: 200;
            font-size: 1.5rem;
        }

        @media screen and (max-width: 980px) {
            .card {
                margin-top: 40px;
            }
        }

        @media screen and (max-width: 1500px){
            .card {
                width: 250px;
                padding: 16px;
            }
            .card p {
                font-size: 1.3rem;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="card">
        <div class="card-content">
            {% if item.icon is defined %}
                <div class="card-content--icon">
                    <img src="{{ asset(item.icon) }}" width="60px">
                </div>
            {% endif %}
            <h3>{{ item.headline }} </h3>
            <p class="light color-primary-normal"> {{ item.content }}</p>
        </div>
    </div>
{% endblock %}
